<div class="fillbox"></div>
<div id="about-us">
  <h1 class="title">
    About <span>Us</span>
  </h1>
  <img class="about-usbg" src="/assets/img/aboutsection-bg2.jpg">
  <aside>
    <div class="col-1"><h4>The Brand</h4><blockquote><q>BClassy was created in 2016 as a new brand that quickly became popular in the fashion world.</q></blockquote></div>
    <div class="col-2"><p>BClassy shops are distinguished throughout the world by their strategic location and well-detailed architecture. The establishments are converted into spacious trend-setting showcases with a carefully thought through image extending from the windows to the arrangement of the goods inside. BClassy selects the best commercial sites in each city and positions itself in the most notable areas of the main shopping centres. Unique buildings are often chosen, which the BClassy architectural studio refurbish and adapt to its brand image and philosophy.</p></div>
  </aside>
  <div id="team">
    <div class="col-1">
      <figure><img src="/assets/img/jeka.jpg"></figure>
      <figcaption><h4>Jonathan Tsodikovitch</h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam consequatur corporis in aspernatur vitae deserunt</figcaption>
    </div>
    <div class="col-2">
      <figure><img src="/assets/img/essa.jpg"></figure>
      <figcaption><h4>Essa Aljafar</h4>Impedit autem, reprehenderit, voluptates quibusdam cumque quos voluptate delectus</figcaption>
    </div>
    <div class="col-3">
      <figure><img src="/assets/img/diaa.jpg"></figure>
      <figcaption><h4>Diaa Ali</h4>Quam consequatur corporis in reprehenderit, voluptates quibusdam cumque quos voluptate</figcaption>
    </div>
  </div>
</div>
