<div class="fillbox"></div>
<div id="contact-page">
  <h1 class="title">Contact <span>Us</span></h1>
  <img src="/assets/img/contact-bg.jpg" class="contact-bg">
  <div id="description">
    <div class="col-1"><h4>OUR STORE</h4>
      <p>151 - 6463 Some st.<br>Vancouver, BC<br>Tel. 123-456-7890</p>
    <h4>OPENING HOURS</h4>
    <p>Mon-Fri: 11:00-18:30<br>Saturday: 11:00-17:00<br>Sunday: 12:30-16:30</p></div>
    <div class="col-2"><h4>HAVE QUESTIONS?</h4><p>info@bclassy.com<br>Fill our contact form:</p>
    <form class="newsletter">
      <div class="input-group">
        <input type="name">
        <label>Your Name</label>
      </div>
      <div class="input-group">
        <input type="email" spellcheck="false">
        <label>Your Email Address</label>
      </div>
      <div class="input-group">
        <textarea spellcheck="false"></textarea>
        <label>Message</label>
      </div>
      <input type="submit" value="Send">
    </form>
  </div>
  <div style='overflow:hidden;height:350px;width:230px;'><div class="col-3" id='gmap_canvas' style='height:350px;width:230px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
</div>
<div id="faq">
  <div class="articles container">
    <h3>FAQ</h3>
    <div class="article">
      <div class="item row">
        <div class="arrowdwn">V</div>
        <p class="question">Can I redeem or buy gift vouchers online?</p>
      </div>
      <div class="description row">
          <p>Yes, please email customercare@bclassy.com for this to be arranged. It cannot be done directly through the website.</p>
      </div>
    </div>

    <div class="article">
      <div class="item row">
        <div class="arrowdwn">V</div>
        <p class="question">How do I unsubscribe from the BClassy newsletter?</p>
      </div>
      <div class="description row">
          <p>You will have an option to unsubscribe from the newsletter, in the email that we send you.</p>
        </div>
      </div>

    <div class="article">
      <div class="item row">
        <div class="arrowdwn">V</div>
        <p class="question">Can i exchange items between stores?</p>
      </div>
      <div class="description row">
          <p>Yes, you can exchange a product if the conditions above are met except for products like jewellery and lingerie because of hygiene reasons.</p>
        </div>
      </div>

    <div class="article">
      <div class="item row">
        <div class="arrowdwn">V</div>
        <p class="question">How do I find out when there's a sale on?</p>
      </div>
      <div class="description row">
          <p>Please visit our Shop page to find out when there's a sale on at one of our stores.</p>
        </div>
      </div>

    <div class="article">
      <div class="item row">
        <div class="arrowdwn">V</div>
        <p class="question">How do i report a complaint?</p>
      </div>
      <div class="description row">
          <p>Please use our Contact Us form to tell us of your issue/ complaint so that we can respond with give you the best advice.</p>
      </div>
    </div>
  </div>
</div>
</div>
