<footer>
  <nav><ul>
    <a href="{{ site.baseurl }}/contact/#faq"><li>FAQ</li></a><br>
    <a href="{{ site.baseurl }}/contact/index.html"><li>Contact Us</li></a><br>
    <li><a href="#">{% include icons/uparrow.html %}</a></li> Back to Top
  </ul></nav>
  <form class="newsletter">
    <p>Subscribe to our Newsletter</p>
    <div class="input-group">
      <input type="email" spellcheck="false">
      <label>Your Email Address</label>
    </div>
    <input type="submit" value="Subscribe Now">
  <div id="copy">&copy;2016 all rights reserved BClassy Inc.</div>
  </form>
</footer>
