<header id="header">
<!--Navigation Bar-->
  <a href="{{ site.baseurl }}/index.html" id="logo">{% include icons/logo.html %}</a>
    <nav>
      <a href="{{ site.baseurl }}/index.html">Home</a>
      <a href="{{ site.baseurl }}/shop/index.html">Shop</a>
      <a href="{{ site.baseurl }}/about/index.html">About us</a>
      <a href="{{ site.baseurl }}/contact/index.html">Contact</a>
    </nav>

<!--Scoail Media -->
  <div class="smedia_container">
    <div class="smedia_position">
      <a href="#" class="media_logo">{% include icons/facebook.html %}</a>
      <a href="#" class="media_logo">{% include icons/insta.html %}</a>
      <a href="#" class="media_logo">{% include icons/twitter.html %}</a>
    </div>
  </div>

</header>
