<div id="home">
  <div id="heading">
  <h1><span class="gold_text">Style</span><br><span class="middle_line"> Speaks Louder</span><br><span class="last_line"> Than <span class="gold_text">Words</span></span></h1>

    <a class="shop_btn" href="/shop/index.html">Shop Now</a>
  </div>
</div>
<!--Collection Section-->
<div id="collection">
  <h1 class="new-collection"><span>New</span> Colle-ction</h1>
  <a href="/shop/index.html" class="trans-btn">SEE ALL</a>
  <div class="collection-mainpic">
    <img src="../assets/img/collection-bg.jpg"/>
    <div class="collection-imglist">
      <a href="/shop/womenshop/index.html"><img src="../assets/img/women2-bg.jpg"/></a>
      <a href="/shop/menshop/index.html"><img src="../assets/img/men2-bg.jpg"/></a>
      <a href="/shop/womenshop/index.html"><img src="../assets/img/women1-bg.jpg"/></a>
      <a href="/shop/menshop/index.html"><img src="../assets/img/men1-bg.jpg"/></a>
    </div>
  </div>
</div>
<!--About Section-->
<div id="about">
  <div id="about-container">
    <p>BClassy was created in Vancouver, BC in 2016 as a new brand that quickly became popular in the fashion world, for offering the best elegant and modern clothes. <p>
  </div>
  <h1 class="about-us">
    About <span>Us</span>
  </h1>
  <a href="/about/index.html" class="trans-btn">OUR STORY</a>
</div>
<!--Contact Section-->
<a href="/contact/index.html"><div id="contact">
  <h1>Contact Us</h1>
</div></a>
