<div class="fillbox"></div>
<div id="fashionshop">
  <h1 class="fashion-header"><span>Men</span> Fash-ion</h1>
  <div class="fashion-pics">
    <div class="img-row">
      <figure><img src="/assets/img/men3-bg.jpg">
      <figcaption>BClassy Vest - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men2-bg.jpg">
      <figcaption>BClassy Trousers  - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men1-bg.jpg">
      <figcaption>BClassy Jacket - <strong>$135</strong></figcaption>
      </figure>
    </div>
    <div class="img-row">
      <figure><img src="/assets/img/men2-bg.jpg">
      <figcaption>BClassy Trousers - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men1-bg.jpg">
      <figcaption>BClassy Jacket - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men3-bg.jpg">
      <figcaption>BClassy Vest - <strong>$135</strong></figcaption>
      </figure>
    </div>
    <div class="img-row">
      <figure><img src="/assets/img/men1-bg.jpg">
      <figcaption>BClassy Jacket - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men3-bg.jpg">
      <figcaption>BClassy Vest - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/men2-bg.jpg">
      <figcaption>BClassy Trousers - <strong>$135</strong></figcaption>
      </figure>
    </div>
  </div>
</div>
