<div class="fillbox"></div>
<div id="fashionshop">
  <h1 class="fashion-header"><span>Ladies</span> Fash-ion</h1>
  <div class="fashion-pics">
    <div class="img-row">
      <figure><img src="/assets/img/women3-bg.jpg">
      <figcaption>BClassy Tight Dress - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women2-bg.jpg">
      <figcaption>BClassy Fancy Coat  - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women1-bg.jpg">
      <figcaption>BClassy Evening Dress - <strong>$135</strong></figcaption>
      </figure>
    </div>
    <div class="img-row">
      <figure><img src="/assets/img/women2-bg.jpg">
      <figcaption>BClassy Fancy Coat - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women1-bg.jpg">
      <figcaption>BClassy Evening Dress - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women3-bg.jpg">
      <figcaption>BClassy Tight Dress - <strong>$135</strong></figcaption>
      </figure>
    </div>
    <div class="img-row">
      <figure><img src="/assets/img/women1-bg.jpg">
      <figcaption>BClassy Evening Dress - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women3-bg.jpg">
      <figcaption>BClassy Tight Dress - <strong>$135</strong></figcaption>
      </figure>
      <figure><img src="/assets/img/women2-bg.jpg">
      <figcaption>BClassy Fancy Coat - <strong>$135</strong></figcaption>
      </figure>
    </div>
  </div>
</div>
